.content {
    height: 600px;
    position: relative;
    background-color: lightgray;
}

#banner {
    height: 600px;
    width: 100%;
    text-align: center;
}

#banner > img {
    width: auto;
    height: 100%;
    opacity: .5;
}

footer {
    /* margin-top: 50px; */
}

#banner-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 25%;
    color: black;
    font-size: 30px;
}